@import "tailwindcss";

@theme {
	--color-bg: var(--color-neutral-950);
	--color-fg: var(--color-neutral-300);
	--color-heading: var(--color-neutral-100);
	--color-muted: var(--color-neutral-500);
	--color-border: var(--color-neutral-800);
}

body {
	background-color: var(--color-bg);
	color: var(--color-fg);
}
